.cards {
  padding: 70px 70px 80px;
}

.cards__movies-list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows: auto auto;
  gap: 32px 20px;
  justify-content: center;
  transition: 0.5s;
}

.cards__movies-list:nth-child(4) {
  display: none;
}

.cards__container-button {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.cards__more-button {
  box-sizing: border-box;
  min-width: 320px;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  background-color: #202020;
  transition: 0.5s;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #424242;
  padding: 11px 0 9px;
}

.cards__more-button_invisible {
  opacity: 0;
}

.cards__more-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1234px) {
  .cards__movies-list {
    grid-template-columns: 270px 270px 270px;
  }
}

@media screen and (max-width: 950px) {
  .cards {
    padding: 70px 30px 80px;
  }

  .cards__movies-list {
    grid-template-columns: 339px 339px;
    gap: 36px 30px;
  }

  .cards__more-button {
    font-weight: 500;
  }
}

@media screen and (max-width: 730px) {
  .cards__movies-list {
    grid-template-columns: 339px;
  }
}

@media screen and (max-width: 475px) {
  .cards {
    padding: 40px 10px 80px;
  }

  .cards__movies-list {
    margin-bottom: 30px;
    grid-template-columns: 300px;
    row-gap: 20px;
  }

  .cards__container-button {
    padding: 50px 40px 0;
  }

  .cards__more-button {
    min-width: 240px;
  }
}
