.cards {
  padding: 70px 70px 80px;
  /* max-height: 1068px; */
}

.cards__movies-list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 32px 20px;
}

.cards__container-button {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.cards__more-button {
  box-sizing: border-box;
  min-width: 320px;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  background-color: #202020;
  transition: 0.5s;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #424242;
  padding: 11px 0 9px;
}

.cards__more-button:hover {
  opacity: 0.6;
}