.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.05);
}

.card__image {
  width: 100%;
  height: 151px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  object-position: center;
  cursor: pointer;
}

.card__panel {
  display: flex;
  justify-content: space-between;
  padding: 14px 12px 10px;
}

.card__favorite-button {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0, 0) url(../../images/favorite-button.svg) center
    no-repeat;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.card__favorite-button_active {
  background: #2be080 url(../../images/favorite-button.svg) center no-repeat;
}

.card__favorite-button:hover {
  opacity: 0.6;
}

.card__delete-button {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0, 0) url(../../images/delete-button.svg) center
    no-repeat;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__title {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 206px;
}

.card__duration {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  padding: 0 0 14px 12px;
}

@media screen and (max-width: 950px) {
  .card__image {
    height: 190px;
  }

  .card:nth-of-type(1n+9) {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .card:nth-of-type(1n+6) {
    display: none;
  }

  .card__image {
    height: 168px;
  } 
}