.profile {
  display: flex;
  padding: 74px 0 70px;
  flex-direction: column;
}

.profile__form {
  margin: auto;
  min-width: 410px;
}

.profile__name {
  text-align: center;
  color: #fff;
  line-height: 29px;
  font-weight: 500;
  margin: 0;
}

.profile__inputs {
  display: flex;
  margin-top: 123px;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  padding-bottom: 16px;
}

.profile__inputs:last-child {
  border: none;
  margin-top: 17px;
  padding-bottom: 0;
}

.profile__text {
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__edit-name {
  text-align: right;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__edit-name::placeholder {
  color: #fff;
}

.profile__container-buttons {
  display: flex;
  flex-direction: column;
}

.profile__button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  transition: 0.5s;
  cursor: pointer;
  max-width: 410px;
  margin: 220px auto 16px;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__button:last-child {
  margin: 0 auto;
  color: #ee3465;
  font-weight: 500;
}

@media screen and (max-width: 880px) {
  .profile {
    padding-top: 236px;
  }

  .profile__inputs {
    margin-top: 96px;
  }

  .profile__button {
    margin-top: 210px;
  }
}

@media screen and (max-width: 475px) {
  .profile {
    padding: 70px 30px 40px;
  }

  .profile__form {
    min-width: auto;
    margin: 0;
  }

  .profile__container-buttons {
    margin-top: auto;
  }

  .profile__inputs {
    margin-top: 80px;
  }

  .profile__button {
    margin-top: 379px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button:last-child {
    font-size: 12px;
    line-height: 15px;
  }
}
