.form {
  display: flex;
  margin: 0 auto;
}

.form__container {
  min-width: 396px;
  position: relative;
  min-height: 400px;
}

.form__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__item-text {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin: 0 0 10px;
}

.form__input {
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #2f2f2f;
  padding: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.form__input:focus {
  outline: 2px solid #4285f4;
}

.form__input::placeholder {
  color: #fff;
}

.form__input_color-error::placeholder {
  color: #ee3465;
}

.form__error {
  opacity: 0;
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin: 10px 0 0;
}

.form__error_visible {
  opacity: 1;
}

.form__button {
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #4285f4;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  transition: 0.5s;
  cursor: pointer;
  width: 100%;
  padding: 13px 0;
  margin-top: 69px;
}

.form__button:hover {
  opacity: 0.8;
}

.form__text {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 16px 0 0;
}

.form__link {
  color: #4285f4;
  margin-left: 6px;
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.5s;
}

.form__link:hover {
  opacity: 0.6;
}

.form__item_invisible {
  opacity: 0;
}

.form__button_pos_margin {
  margin-top: 158px;
}

@media screen and (max-width: 475px) {
  .form {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
  }

  .form__container {
    min-width: 100%;
  }

  .form__button {
    margin-top: 159px;
    font-size: 12px;
    line-height: 15px;
    padding: 15px 0;
  }

  .form__text {
    font-size: 12px;
    line-height: 15px;
    margin-top: 14px;
  }

  .form__link {
    font-size: 12px;
    line-height: 15px;
  }

  .form__button_pos_margin {
    margin-top: 250px;
  }
}
