.promo {
  display: flex;
  justify-content: space-between;
  background-color: #073042;
  padding: 75px 70px;
}

.promo__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.promo__title {
  color: #fff;
  line-height: 58px;
  font-size: 50px;
  font-weight: 400;
  max-width: 640px;
  margin: 0;
}

.promo__text {
  color: #fff;
  line-height: 16px;
  font-size: 13px;
  font-weight: 400;
  max-width: 310px;
  padding: 36px 0 0;
}

.promo__button {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  background-color: #073042;
  padding: 10px 20px;
  border-radius: 3px;
  border-color: #fff;
  transition: 0.5s;
  cursor: pointer;
  margin: 146px 0 0;
}

.promo__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 880px) {
  .promo {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding-top: 0;
  }

  .promo__logo {
    margin-top: 140px;
  }

  .promo__title {
    margin-top: 48px;
    line-height: 50px;
    font-size: 40px;
  }

  .promo__text {
    margin: 22px auto 0;
    padding: 0;
    max-width: 260px;
  }

  .promo__button {
    margin: 92px auto 0;
  }
}

@media screen and (max-width: 475px) {
  .promo {
    padding: 70px 10px 30px;
  }

  .promo__logo {
    margin-top: 0;
    max-width: 210px;
    max-height: 206px;
  }

  .promo__title {
    margin-top: 44px;
    line-height: 38px;
    font-size: 27px;
  }

  .promo__text {
    margin-top: 24px;
  }

  .promo__button {
    margin-top: 80px;
  }
}
