.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  background-color: #073042;
}

.header:has(+ .not-found) {
  display: none;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  transition: 0.5s;
  cursor: pointer;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link:not(:last-child) {
  margin-right: 16px;
}

.header__link_type_main {
  font-size: 12px;
  line-height: 16px;
}

.header__link_type_main:last-child {
  color: #000;
  background-color: #3ddc84;
  border-radius: 3px;
  padding: 8px 20px;
  margin-left: 14px;
}

.header_type_auth {
  background-color: #202020;
}

.header__link_font_regular {
  font-weight: 400;
}

.header__link-auth {
  display: flex;
  align-items: center;
}

.header__link-button {
  display: block;
  background-color: #313131;
  width: 26px;
  height: 26px;
  margin-left: -9px;
  background: #313131 url(../../images/Account-icon.svg) no-repeat center;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.header__link-button:hover {
  opacity: 0.6;
}

.header_type_form {
  min-width: 396px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 70px 0 40px;
}

.header_type_error {
  display: none;
}

.header__title {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 0;
}

@media screen and (max-width: 880px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__link-button {
    background-image: url(../../images/burger.svg);
    border-radius: 0;
  }

  .header__link {
    display: none;
  }

  .header__link_active {
    display: inline;
  }

  .header_type_form {
    padding-top: 232px;
  }
}

@media screen and (max-width: 475px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__link_type_main {
    font-size: 10px;
    line-height: 18px;
  }

  .header__link:not(:last-child) {
    margin-right: 0;
  }

  .header__link_type_main:last-child {
    padding: 5px 12px;
  }

  .header_type_form {
    align-items: center;
    min-width: auto;
    padding-top: 56px;
    padding-bottom: 80px;
  }

  .header__title {
    margin-top: 50px;
  }
}