.about-project {
  padding: 110px 70px;
  max-height: 608px;
  box-sizing: border-box;
}

.about-project__title {
  color: #fff;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  border-bottom: 1px solid #dadada;
  padding: 0 0 23px;
  margin: 0;
  letter-spacing: -0.04em;
}

.two-columns {
  display: flex;
  margin: 70px 0 110px;
}

.two-columns:last-child {
  margin-top: 110px;
  margin-bottom: 0;
}

.two-columns__info:not(:last-child) {
  margin-right: 40px;
}

.two-columns__title {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
}

.two-columns__text {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 26px 0 0;
}

.two-columns__dev-time {
  min-width: 228px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
}

.two-columns__dev-time:first-of-type {
  max-width: 228px;
}

.two-columns__dev-time-title {
  background-color: #3ddc84;
  color: #000;
  font-weight: 400;
  padding: 9px 0;
  font-size: 14px;
  margin: 0;
}

.two-columns__dev-time-title_color_light {
  background-color: #303030;
  color: #fff;
}

.two-columns__dev-time-text {
  color: #8b8b8b;
  font-weight: 500;
  margin: 0;
  padding: 14px 0;
}

@media screen and (max-width: 880px) {
  .about-project {
    padding: 90px 50px;
    max-height: 585px;
  }

  .two-columns {
    margin-top: 70px;
  }
  
  .two-columns:last-child {
    margin-top: -17px;
  }

  .two-columns__text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .two-columns__dev-time:first-of-type {
    max-width: 140px;
    min-width: 140px;
  }
}

@media screen and (max-width: 475px) {
  .about-project {
    padding-left: 18px;
    padding-right: 18px;
    max-height: 641px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .two-columns__text {
    font-size: 11px;
    line-height: 18px;
    margin-top: 16px;
  }

  .two-columns {
    margin-top: 4px;
    margin-bottom: 0;
  }

  

  .two-columns__title {
    margin-top: 56px;
    font-size: 18px;
    line-height: 22px;
  }

  .two-columns__text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }

  .two-columns:last-child {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .two-columns:first-of-type {
    flex-direction: column;
  }

  .two-columns__info:not(:last-child) {
    margin-right: 0;
  }

  .two-columns__dev-time:first-of-type {
    max-width: 100px;
    min-width: 100px;
  }

  .two-columns__dev-time:last-of-type {
    min-width: 184px;
    margin-right: 18px;
  }

  .two-columns_pos_row:first-of-type {
    flex-direction: row;
  }

  .two-columns__dev-time-title {
    padding: 11px 0;
    font-size: 11px;
    line-height: 13px;
  }

  .two-columns__dev-time-text {
    color: #A0A0A0;
    padding: 10px 0;
    font-size: 11px;
  }
}