.techs {
  padding: 100px 70px;
  max-height: 625px;
  background-color: #272727;
  box-sizing: border-box;
}

.techs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 90px;
}

.techs__title {
  color: #fff;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  border-bottom: 1px solid #dadada;
  padding: 0 0 23px;
  margin: 0;
  letter-spacing: -0.04em;
}

.techs__main-title {
  color: #fff;
  line-height: 58px;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.04em;
}

.techs__text {
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  margin: 26px 0 0;
  max-width: 460px;
  letter-spacing: -0.04em;
}

.techs__items {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  gap: 10px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 100px 0 0;
}

.techs__item {
  display: flex;
  color: #fff;
  background-color: #303030;
  border-radius: 10px;
  min-width: 90px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 880px) {
  .techs {
    max-height: 567px;
    padding: 90px 50px;
  }

  .techs__container {
    margin-top: 80px;
  }

  .techs__text {
    line-height: 18px;
    font-size: 12px;
    margin-top: 22px;
  }

  .techs__items {
    grid-template-columns: repeat(7, 84px);
    margin-top: 83px;
  }

  .techs__item {
    min-width: 84px;
    min-height: 57px;
    line-height: 15px;
    font-size: 12px;
  }
}

@media screen and (max-width: 670px) {
  .techs__items {
    grid-template-columns: repeat(6, 84px);
    margin-top: 83px;
  }
}

@media screen and (max-width: 595px) {
  .techs__items {
    grid-template-columns: repeat(5, 84px);
    margin-top: 83px;
  }
}

@media screen and (max-width: 500px) {
  .techs__items {
    grid-template-columns: repeat(4, 84px);
    margin-top: 83px;
  }
}

@media screen and (max-width: 475px) {
  .techs {
    max-height: 657px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 70px;
    padding: 70px 18px;
  }

  .techs__title {
    font-size: 18px;
    line-height: 22px;
    border-color: #000;
    padding-bottom: 28px;
  }

  .techs__container {
    margin-top: 60px;
  }

  .techs__main-title {
    font-size: 30px;
    line-height: 30px;
  }

  .techs__text {
    line-height: 16px;
    font-size: 11px;
    margin-top: 24px;
  }

  .techs__items {
    grid-template-columns: repeat(3, 84px);
    margin-top: 50px;
  }
}

@media screen and (max-width: 330px) {
  .techs__items {
    grid-template-columns: repeat(2, 84px);
  }
}
