@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

#root {
  background-color: #202020;
}

body {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
