.about-me {
  padding: 110px 70px 0;
}

.about-me__title {
  color: #fff;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  border-bottom: 1px solid #dadada;
  padding: 0 0 23px;
  margin: 0;
  letter-spacing: -0.04em;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me__title-name {
  color: #fff;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
  letter-spacing: -0.04em;
}

.about-me__job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 18px 0 0;
}

.about-me__description {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 26px 0 0;
  max-width: 599px;
}

.about-me__link {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin: 99px 0 0;
  text-decoration: none;
}

.about-me__avatar {
  border-radius: 10px;
  max-width: 270px;
  max-height: 327px;
}

@media screen and (max-width: 880px) {
  .about-me {
    padding: 90px 50px 0;
  }

  .about-me__title-name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__job {
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
    max-width: 364px;
  }

  .about-me__avatar {
    max-width: 255px;
    max-height: 307px;
  }

  .about-me__link {
    margin-top: 87px;
  }
}

@media screen and (max-width: 475px) {
  .about-me {
    padding: 70px 14px 0;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-me__container {
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .about-me__avatar {
    max-width: 292px;
    max-height: 352px;
  }

  .about-me__info {
    margin-top: 40px;
  }

  .about-me__title-name {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__job {
    font-size: 11px;
    line-height: 16px;
    margin-top: 20px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__link {
    margin-top: 40px;
  }
}
